{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
    Catagory Detail
    {% endblock %}
</head>

<body>
    {% block content %}
   <div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first align-self-center">
                <img class="img-fluid mx-auto d-block"  alt="Responsive image" src="{{ product.title_image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author }}</span> (Author)</p>
                <p>{{ product.body|slice:":355" }}</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Price</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Quantity</label>
                                <select id="select">

                                </select>
                            </div>
                            <div class="col-6 text-end">
                                <button id="cart-add-button" value="{{product.id}}" type="button" class="btn btn-secondary btn-sm">Add Cart</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
             <div class="row g-3">
                <img class="img-fluid mx-auto d-block" width="80%" alt="Responsive image" src="{{ product.image.url }}">
             </div>
        </div>
    </main>
</div>


<script>
    //reder
    $(document).ready(function() {
       
        const count = parseInt('{{product.quantity}}') + 1;
 
        if(count < 10) {
            for (let i = 1; i < count; i++) {  
                $('#select').append('<option>' + i + '</option>');
            }
        }
        else {
            for (let i = 1; i < 11; i++) {
                $('#select').append('<option>' + i + '</option>');
            }
        }
      
    });
       
   
    // function
    $(document).ready(function() {
    

        let click = true;
        $('#cart-add-button').on('click', function (e) {
          

            e.preventDefault();
            
            if(click) {
                click = false;
                
                $.ajax({
                    type: 'POST',
                    url: '{% url "cart:cart_add" %}',
                    data: {
                        product_id: $('#cart-add-button').val(),
                        product_quantity: $('#select option:selected').text()
                    },
                    success: function (json) {
                        document.getElementById("cart-quantity").innerHTML = json.cart_quantity
                        click = true;

                    },
                    error: function (data) {
                        alert(data.responseJSON.error);
                        click = true;
                    }
                });
            }
        })
    });
</script>
    {% endblock %}
</body>