a, a:hover {
    color: black;
}

#title_img {
    width: 61px;
}
#dropdown {
    position: absolute; 
    z-index: 99;
    display: none;
}

@media screen and (max-width: 768px) { 
    #navbar {
        padding: 0.5em 1em;
    }
    #title_img {
        width: 51px;
    }

}

