{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
        Dashnoard
    {% endblock %}

    {% block css %}
       
    {% endblock %}
</head>

<body>
    {% block content %}
  <div class="col-12">
    <h1 class="h2">Orders</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    
  </div>
  <hr />

  {% for order in orders.all %}
    <div class=" mb-4 border">
      <div class="">
        <div class="col border-bottom">
            <div class="row p-3">
                <div class="h3 col-2">{{order.created|date:"Y.m.d"}}</div>
                {% if order.trans.first.transaction_status%}
                <div class="h6 col">{{order.trans.first.transaction_status}}</div>
                {% endif %}

                
                <div id="content"class="col text-end">


                  {% if order.paid and order.trans.first.transaction_status != "환불 완료" %}

                    <a id ="refund" data-id="{{order.id}}" type="button" role="button" href="" class="btn btn-outline-secondary mx-1">Refund</a>
                  {% endif%}
                
                  <a type="button" role="button" href="{{ order.get_absolute_url }}" class="btn btn btn-secondary btn mx-1">Order History</a>
                </div>
            </div>
        </div>
    </div>
       
      
        
          <!-- <button id="cart-add-button" value="{{product.id}}" type="button" class="btn btn-secondary btn-sm">Order History</button> -->
  
    
    {% for item in order.items.all %}
      <div class="row mb-4 product-item">
        <div class="col-md-3 col-lg-2 order-md-first align-self-center">
            <img class=" img-fluid rounded mx-auto d-block mx-auto d-block center-block" width="100%" alt="Responsive image" src="{{ item.product.title_image.url }}">
        </div>
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
            <a href="{{ item.product.get_absolute_url }}" class="text-decoration-none text-reset">
                <h1 class="h5 pt-2">{{item.product.title }}</h1>
            </a>
            <div class="border">
                <div class="col border-bottom">
                    <div class="row p-3">
                        <div class="col-6">
                          {% if order.paid %}
                            Paid (결제 완료) 
                          {% else %}
                            Faile (결제 실패) 
                          {% endif %}
                        </div>
                        <div class="col-6 text-end">
                            <span class="h6 fw-bold">
                                ${{item.product.price}} |
                            </span>
                            <span class="h6 fw-bold">
                              ${{item.get_item_price}}
                              <!-- {% widthratio item.product.price 1 item.quantity %} -->

                          </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row p-3">
                        <div class="col-6">
                            Quantity : {{item.quantity}}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    {% endfor %} 
  </div>
  {% endfor %}


  </div>
  <script src="{% static 'js/refund.js' %}" defer></script>
  <script>
    CSRF_TOKEN = "{{ csrf_token }}";
    ORDER_CANCEL_URL = '{% url "imp_order:order_cancel" %}';
  </script>
    {% endblock %}
</body>