{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
        Cart Detail
    {% endblock %}
</head>
<body>
    {% block content %}
        <main class="pt-5">
        <div class="container">
            <h1 class="h5">Shopping Cart</h1>
            {% for item in cart %}
            {% with product=item.product %}
            <div data-index="{{product.id}}" class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first align-self-center">
                <img class=" img-fluid rounded mx-auto d-block mx-auto d-block center-block" width="100%" alt="Responsive image" src="{{ product.title_image.url }}">
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                    <h1 class="h5 pt-2">{{ product.title }}</h1>
                </a>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">{{product.body}}</div>
                            <div class="col-6 text-end">
                                <span class="h6 fw-bold">
                                    ${{item.price}}
                                </span>
                                <span id ="item{{product.id}}_total_price" class="h6 fw-bold" > | ${{item.total_price}}</span>
                            </div>
                        </div>
                    </div>
                <div class="col">
                    <div class="row p-3">
                    <div class="col-6">
                        <label for="select">Quantity</label>
  
                        <select id="select{{product.id}}"  data-index="{{product.id}}"
                         data-quantity="{{product.quantity}}" data-cart-quantity="{{item.quantity}}" >
                          
                        </select>
                    </div>
 
                    <div class="col-6 text-end">
                        <button  type="button" id="delete-button" data-index="{{product.id}}"
                        class="btn btn-outline-secondary btn-sm delete-button " >
                        Delete
                        </button>
                    </div> 
                    </div>
                </div>
                </div>
            </div>
            </div>
            {% endwith %}
            {% endfor %}
                <div id="product_option" class="visible">
                    <div class="text-center m-5">
                        <div class="h5 fw-bold">Total: $
                            <div id="subtotal" class="d-inline-flex">
                            {{cart.get_total_price}}
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-5" >
                        <a href="/" type = "button" class = "btn btn-outline-secondary btn-lg btn-block mx-4" >
                            Home
                        </a>
                        <a href="#" type = "button" class = "btn btn-secondary btn-lg btn-block mx-4" >
                            Buy
                        </a>
                    </div> 
                </div>
            </div>
        </main>



<script>
    // Delete Item
    $(document).ready(function(e) {
        // id에 select가 들어가는
        const select = ($("[id^='select']"));

        $.each(select, function(){
            const cart_quantity = $(this).data('cart-quantity');
            const count = $(this).data('quantity') + 1;
            id = $(this).attr('id');
            
            if(count < 10) {
                for (let i = 1; i < count; i++) {  
                    
                    if(cart_quantity == i) {
                        $('#' + id).append('<option selected>' + i + '</option>');
                    }
                    else {
                        $('#' + id).append('<option>' + i + '</option>');
                    }
                }
            }
            else {
                for (let i = 1; i < 11; i++) {
                    if(cart_quantity == i) {
                        $('#' + id).append('<option selected>' + i + '</option>');
                    }
                    else{
                        $('#' + id).append('<option>' + i + '</option>');
                    }
                }
                $('#' + id).append('<option selected disabled>' + cart_quantity + '</option>');
            }
        });
    });

       
    $(document).ready(function() {
            const select = ($("[id^='select']"));
            // Update Item
            $(select).on('change', function (e) {      
                e.preventDefault();

                const product_id = $(this).data('index');

                $.ajax({
                type: 'POST',
                url: '{% url "cart:cart_update" %}',
                data: { 
                    product_id: $(this).data('index'),
                    product_quantity: $('#select' + product_id + ' option:selected').text(),
                },
                success: function (json) {
                    document.getElementById("cart-quantity").innerHTML = json.cart_quantity
                    document.getElementById("subtotal").innerHTML = json.get_total_price
                    $('#item'+ product_id + '_total_price').text(' | $'+json.item_total_price);
                    
                },
                error: function (xhr, errmsg, err) {
                    alert(err)
                }
                });
            });

            //delete
            $(document).on('click', '.delete-button', function (e) {
                e.preventDefault();
                var prod_id = $(this).data('index');

                $.ajax({
                    type: 'POST',
                    url: '{% url "cart:cart_delete" %}',
                    data: {
                        product_id: prod_id
                    },
                    success: function (json) {
                        $('.product-item[data-index="' + prod_id + '"]').remove();
                        document.getElementById("subtotal").innerHTML = json.get_total_price;
                        document.getElementById("cart-quantity").innerHTML = json.cart_quantity
                        document.getElementById("product_option").className = "invisible"
                    },
                    error: function (xhr, errmsg, err) {
                            alert(err);
                    }
                });
            });
    });

</script>
    {% endblock %}
</body>
