{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
        Cart Detail
    {% endblock %}
</head>
<body>
    {% block content %}
        <main class="pt-5">
        <div class="container">
            <h1 class="h5">Shopping Cart</h1>
            {% for item in cart %}
            {% with product=item.product %}
            <div data-index="{{product.id}}" class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first align-self-center">
               
                <img class=" img-fluid rounded mx-auto d-block mx-auto d-block center-block" width="100%" alt="Responsive image" src="{{ product.title_image.url }}">
                
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                <h1 class="h5 pt-2">{{ product.title }}</h1>
                </a>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                        <div class="col-6">{{product.body}}</div>
                        <div class="col-6 text-end"><span class="h6 fw-bold">£{{ item.total_price }}</span></div>
                        </div>
                    </div>
                <div class="col">
                    <div class="row p-3">
                    <div class="col-6">
                        <label for="select">Quantity</label>
                        <select id="select{{product.id}}">
                        <option selected disabled style="display:none">
                            {{item.quantity}}
                        </option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        </select>
                        <button type="button" id="update-button" data-index="{{product.id}}"
                        class="btn btn-outline-secondary btn-sm update-button">
                        Update
                        </button>
                    </div>
 
                    <div class="col-6 text-end">
                        <button  type="button" id="delete-button" data-index="{{product.id}}"
                        class="btn btn-outline-secondary btn-sm delete-button " >
                        Delete
                        </button>
                    </div> 
                    </div>
                </div>
                </div>
            </div>
            </div>
            {% endwith %}
            {% endfor %}
            <div class="col-12 text-end">
                <div class="h6 fw-bold">Sub Total: £
                    <div id="subtotal" class="d-inline-flex">
                    {{cart.get_total_price}}
                    </div>
                </div>
            </div>
        </div>
        </main>



<script>
    // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');

    $.ajax({
      type: 'POST',
      url: '{% url "cart:cart_delete" %}',
      data: {
        product_id: prodid
      },
      success: function (json) {
          alert('susses');
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.get_total_price;
        document.getElementById("cart-quantity").innerHTML = json.cart_quantity
      },
      error: function (xhr, errmsg, err) {
            alert(err);
      }
    });
  })

  // Update Item

  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var product_id = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "cart:cart_update" %}',
      data: { 
        product_id: $(this).data('index'),
        product_quantity: $('#select' + product_id + ' option:selected').text(),
      },
      success: function (json) {
        document.getElementById("cart-quantity").innerHTML = json.cart_quantity
        document.getElementById("subtotal").innerHTML = json.get_total_price
      },
      error: function (xhr, errmsg, err) {
          alert(err)
      }
    });
  })
</script>
    {% endblock %}
</body>
