{% extends 'base.html' %} {% load static %}

<head>
  {% block title %} Order Items {% endblock %}
   {% block css %}
  <link rel="stylesheet" href="{% static 'css/order_form.css' %}" />
  {% endblock %}
</head>
<body>
  {% block content %}

    <div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">Thank you!<br/>
            Your order has been successfully completed.<br/>
        Your order number is <strong>{{order.id}}</strong></div>

    </div>
</div>  


  <script>

  </script>
  {% endblock %}
</body>
